@font-face {
  font-family: "RIDIBatang";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "RIDIBatang", sans-serif;
  background-color: #fffbe6;
  color: #312c25;
}

/* Navbar styles */
.navbar {
  background-color: #fffbe6;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #312c25 !important;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #9ad6a8 !important;
}

/* Header styles */
h1 {
  color: #312c25;
}

.spantag {
  color: rgb(113, 165, 136);
}

h1 .bi {
  margin-right: 10px;
  color: rgb(113, 165, 136);
}

.btn {
  background-color: rgb(113, 165, 136);
}
.btn-outline-secondary {
  background-color: #fffbe6;
  border: none;
}

.btn:hover {
  background-color: #529074;
}

/* Table styles */
table thead.custom-thead th {
  color: #fff !important;
  background-color: rgb(113, 165, 136) !important;
}

table tbody.custom-tbody td {
  background-color: #ffffff !important;
  text-align: center;
}

.btn-su {
  background-color: rgba(85, 124, 103, 0.829);
}

.btn-su:hover {
  background-color: rgb(55, 84, 68);
}

/* Form styles */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card styles */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #31a760;
}

.card-subtitle {
  color: #6c757d;
}

.card-text {
  color: #555;
}

/* Margin adjustments */
.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.table-container {
  overflow-x: auto; /* 수평 스크롤 가능 */
  display: flex; /* Flexbox를 사용하여 스크롤을 제어 */
}

.table {
  min-width: 600px; /* 최소 너비를 설정하여 스크롤을 유도 */
}

.calendar-icon-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin: 20px 0;
}

.pagination .btn {
  margin: 0 5px;
}

/* 명언스타일 */
.blockquote {
  margin-bottom: 0;
  line-height: 1.5; /* 행간 조정 */
}

.blockquote-footer {
  font-size: 1rem;
  color: #6c757d;
  line-height: 5; /* 행간 조정 */
}
